
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
  .section-title h2::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }

.interests{
    display:flex;

  
    gap:0.8rem
    
   
}

.skil_list{
  display:flex;
  flex-wrap: wrap;
  gap:0.8rem;
 
  
}
.interests .icon-box {
    display: flex;
    width: 200px;
    align-items: center;
    padding: 20px;
    /* margin-right: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem; */
   
    transition: ease-in-out 0.3s;
  }
  .interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  .interests .icon-box h3 {
    font-weight: 700;
    margin-right: 2rem;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
  }
  .interests .icon-box:hover {
    background: rgba(255, 255, 255, 0.12);
  }

    
/* ======= MEDIA QUERIES(MEDIUM DEVICES)=========  */
@media screen and (max-width: 1024px){
  .portfolio-container{
    display: flex;
    flex-direction:column;
}
  .about__me{
      width: 50%;
      margin: 2rem auto 4rem;
  }
  .about__cards{
      flex-direction:column;
  }
  .about__content p{
      margin:  1rem 0 1.5rem;
  }
  }
  
  /* 
  ======= MEDIA QUERIES(SMALL DEVICES)========= */
  @media screen and (max-width: 600px){
    .skil_list{
      display:flex;
      flex-wrap: wrap;
      gap: 4px;
     
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
    margin-left: 0rem;
    justify-content:space-between;
  }
      .about__content{
          text-align:center;
  
      }
      .about__content p{
          margin: 1.5rem 0;
      }
    }