
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
  .section-title h2::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
.skil_list{
    display:flex;
    flex-wrap: wrap;
   
    
}
.interests{
    display:flex;
    flex-direction: column;
  
    /* gap:10px 20px; */
    
   
}
.interests .icon-box {
    display: flex;
    align-items: center;
    /* padding: 20px;
    margin-right: 10rem; */
    margin-right: 2rem;
    margin-bottom: 2rem;
   
    transition: ease-in-out 0.3s;
  }
  .interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  .interests .icon-box h3 {
    font-weight: 700;
    /* margin-right: 2rem; */
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
  }
  .interests .icon-box:hover {
    background: rgba(255, 255, 255, 0.12);
  }