
.about__container{
/* display:grid;
grid-template-columns: 35% 50%;
gap: 15%; */
gap:8rem; 
display: flex;
justify-content: space-between;

}

.about__mee{
    width:100%;
    /* width:100%;
    aspect-ratio:1/1;
    border-radius:2rem;
    background:linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display:grid;
    place-items:center; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   }
   .about__me-image{
    border-radius:2rem;
    border: 5px solid var(--color-primary);
    overflow:hidden;
    transform:rotate(5deg);
    transition: var(--transition);
   }
   .about__mee > .detail{
    margin-top:2rem;
    width:100%;
   }
   #aboutmedetail{
    margin-bottom:2rem;
    color: #feffff;
    font-weight :500;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
   }

   .about__me-image:hover{
       transform:rotate(0)
   }


   .about__cards{
       display:flex;
       gap:1.2rem; 
    /* display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1.5rem; */
   }
   .about__card{
    background:#c9cad420;
    height:100%;
     overflow:hidden;
    /*border:2px solid #4db5ff;; */
    border-radius:1rem;
    padding:1rem;
    text-align:center;
   }
   .about__card:hover{
    background:#520f0f;;
    border-color:#00fe19;
    transition: var(--transition);
    cursor: default;
   }

   .about__icon{
       font-size: 1,4rem;
       margin-bottom: 1rem;
   }
   .about__card h5{
       font-size: 0,95rem;
   
   }

   .about__card small{
    font-size: 0,7rem;
    color: var(--color-light)
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light)

}



/* ======= MEDIA QUERIES(MEDIUM DEVICES)=========  */
@media screen and (max-width: 1024px){
.about__container{
    /* grid-template-columns: 1fr; */
    flex-direction:column;
    gap: 0;
  }
.about__mee{
    width: 100%;
    margin: 2rem auto 4rem;
}
.about__cards{
    flex-direction:column;
}
.about__content p{
    margin:  1rem 0 1.5rem;
}
}
@media screen and (max-width: 1536px){
    .about__container{
        /* grid-template-columns: 1fr; */
        flex-direction:column;
        gap: 0;
      }
    .about__mee{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 
======= MEDIA QUERIES(SMALL DEVICES)========= */
@media screen and (max-width: 600px){
    .about__mee{
        width: 100%;
        margin: 0 auto 3rem;
    }
    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .about__content{
        text-align:center;

    }
    .about__content p{
        margin: 1.5rem 0;
    }
  }