.resume{
  
  height:max-content ;
  width: 24rem;
}
.resume .resume-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.resume .resume-item h4 {
  /* line-height: 18px; */
  font-size: 0.938rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #18d26e;

}
.resume .resume-item p {
  margin-top: 1.7px;
  margin-bottom: 3px;
}
.resume .resume-item  .resume-detail {
  margin-top: 1.7px;
  margin-bottom: 3px;
  font-size: 0.8rem;
}
.resume .resume-desc{
  /* margin-top: 1.7px;
  margin-bottom: 3px; */
}
.resume .resume-item p{
  margin  :0
}
.resume .resume-item p>small {
  font-size: 0.7rem;
  padding : 0;
}
.resume .resume-item h5 {
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.15);
  padding: 7px ;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 0.8rem;
 
}
 .resume .resume-item ul li {
  font-size: 0.7rem;
  text-align: start;
  list-style-type: disc;
}
/*
.resume .resume-item ul li {
  padding-bottom: 10px;
} */
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}
/* ======= MEDIA QUERIES(MEDIUM DEVICES)=========  */
@media screen and (max-width: 1024px){
  .resume .resume-item {
    padding: 0 0 10px 10px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }
  input,textarea {
      width:100%;
      color:#fff;
      padding: 1.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      background:transparent;
      border:2px solid green;
      resize: none;
     }
  }
  
  /* 
  ======= MEDIA QUERIES(SMALL DEVICES)========= */
  @media screen and (max-width: 600px){
    .resume{
  
      height:max-content ;
      width: 100%;
    }
   
    .skil_list{
      display:flex;
      flex-wrap: wrap;
      gap: 4px;
     
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
    margin-left: 0rem;
    justify-content:space-between;
  }
      .about__content{
          text-align:center;
  
      }
      .about__content p{
          margin: 1.5rem 0;
      }
    }